{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}


    <section class="content_wrapper">
        <h1>About  ☝️</h1>
        <p class="home">TodoCheck is an opensource checklist app,<br>developed for a school project 🎓<br>september 2023</p>



        <h3 class="team">Our team</h3>
        <article>
            <p>Developers :</p>
            <ul>
                <li><a href="https://github.com/ArthurJfr">Arthur Jaffro</a></li>

                <li>Thibault Coybes</li>
            </ul>
        </article>
        <h3 class="techno">What we use ?</h3>
        <ul>
            <li>Symfony 6.3.4</li>
            <li>mySql</li>
            <li>PhpStorm</li>
        </ul>
        <p>Back to <a href="/login">login page</a></p>
        <a href="https://github.com/ArthurJfr/Checklist" class="repository"><i class="fa-brands fa-github"></i></a>
    </section>
{% endblock %}